<h1>Assessment Challenge 1</h1>
<p>Tasks Manager</p>

<br>
<h3>Create a new task</h3>
  <form action="/" method="post">
    <input type="text" name="title" value="task title">
    <input type="text" name="content" value="your task">
    <input type="submit" value="Create Task!">
  </form>
<br>

<% @ordered_tasks.each do |t| %>
  <%=   t.title   %><br>
  <%=   t.content %><br>
  <% if t.complete == 'false' %>
      status: pending
  <% else %>
      status: complete
  <% end %><br>
  <a href='/task/<%=t.id%>'>Update task?</a><br><br>
  <% end %> 